@model BooksDisplayViewModel;

@{
    ViewData["Title"] = "Books";
}
<!--Displaying book details-->
<div class="container">
    <nav aria-label="breadcrumb" class="mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Books</li>
        </ol>
    </nav>

    <div class="section-body shadow">

        <h1 class="books-header">
            Discover amazing books here
        </h1>
        <p class="lead">Explore and read books you like</p>

        <div class="container-fluid">
            <!--WIll implement all this later on one everything is finished-->
            <div class="row">
                <div class="text-center">
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="#" class="btn btn-primary active">Popular</a>
                        <a href="#" class="btn btn-success ">Most Liked</a>
                        <a href="#" class="btn btn-info ">Most Read</a>
                        <a href="#" class="btn btn-warning ">Most Viewed</a>
                        <a href="#" class="btn btn-danger ">Latest</a>
                    </div>
                </div>
            </div>

            <div class="search-div row justify-content-center" style="margin-bottom: 50px;">

                <div class="col-md-4 col-sm-6">
                    <p>
                        <input type="text" class="form-control search" value=""
                        placeholder="Search by name or ISBN number">
                    </p>
                </div>
            </div>

            <div class="books-widget row">
                @foreach(Book book in Model.Books)
                {
                    //Display all the books
                    <div class="books-item col-md-3 col-sm-6">
                        <div class="text-center justify-content-center">
                            <div class="book-frame book-frame-small justify-content-center">
                                <div class="aspect-ratio-content">
                                    <a asp-action="BookDetails" asp-controller="Books" asp-route-id="@book.Id" asp-route-slug="@book.Slug">
                                        <img class="book-cover img-fluid" src="@book.GetCoverPath()" alt="@book.BookTitle" />
                                    </a>
                                </div>
                            </div>
                            <div class="book-title-medium">
                                <h3>
                                    <a asp-action="BookDetails" asp-controller="Books" asp-route-id="@book.Id" title="Harry Potter and the Prisoner of Azkaban">
                                        @book.BookTitle
                                    </a>
                                </h3>
                            </div>
                            <div class="buttons">
                                <a class="btn button-blue button-stretch-width" asp-action="AddToCart" asp-controller="Book" asp-route-id="@book.Id">Add to cart</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!--Paging information here-->
            <div page-model="Model.PagingInfomation"
                 action="List"
                 is-css-enabled="true"
                 selected-page-class="btn-primary"
                 un-selected-page-class="btn-outline-primary"
                 common-page-class="btn"
                 class="justify-content-center text-center"
            ></div>
        </div>
    </div>
</div>
